:host {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

h1 {
  position: relative;
}
h3 {
  color:#797f8c;
  padding-left:60px;
}

.page-name {
  margin-left:10px;
}

.mat-sidenav-content {
  display: grid;
  grid-template-rows: 120px 1fr;
}

.mat-card-header-text {
  margin: 0px !important;
}

#title_header {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  padding: 20px;

  #select_group {
    display: grid;
    grid-template-columns: 300px 1fr auto;
    gap: 20px;
    padding-top: 20px;
  }

  #group_config_btn {
    color:#ccc;
    &:hover {
      color:#333;
    }
  }
}

#empty-services {
  padding: 20px;
}

@media (max-width: 460px) {
  #title_header {
    #select_group {
      grid-template-columns: 1fr auto auto;
      gap: 2px;
    }
  }

  .page-name {
    font-size: 0.9em;
  }
}
