<mat-spinner class="spinner" *ngIf="isSync"></mat-spinner>
<div id="content" *ngIf="avtoList.length > 0 && !isSync; else emptyBody">
	<div class="column avto__list">
		<div class="column__content">
			<div class="column__title">
				<a href="#" (click)="clickShowFormCreateAvto($event)" class="column_title_icon create" title="Добавить авто"></a>
				<h2 class="mat-h2"><span>Мои авто</span></h2>
			</div>
			<div class="overflow">
				<div class="scroll">
					<div *ngIf="selectedAvto !== null" id="selected_avto">
						<app-selected-avto [model]="selectedAvto"></app-selected-avto>
					</div>
					<ul>
						<li *ngFor="let a of avtoList">
							<app-item-avto [model]="a" (eventDelete)="onAvtoDelete($event)"></app-item-avto>
						</li>
					</ul>
				</div>
			</div>
		</div>
  </div>
  <div class="column groups__list">
		<div class="column__content">
			<div class="column__title">
				<a href="#" class="column_title_icon create" title="Добавить группу" (click)="clickShowFormCreateGroup($event)"></a>
				<h2 class="mat-h2"><span>Группы</span></h2>
			</div>
			<div class="overflow">
				<ul class="scroll">
					<li *ngFor="let g of groupList">
						<app-item-group [model]="g" (eventDelete)="onGroupDelete($event)"></app-item-group>
					</li>
				</ul>
			</div>
		</div>
  </div>
  <div class="column service__list">
		<div class="column__content">
			<div class="column__title">
				<a href="#" class="column_title_icon create" title="Добавить сервис" (click)="clickShowFormCreateService($event)"></a>
				<h2 class="mat-h2"><span>{{selectedGroup?.name}}</span></h2>
			</div>
			<div class="overflow">
				<ul class="scroll">
					<li *ngFor="let s of serviceList">
						<app-item-service [model]="s" (eventOnDelete)="onServiceDelete($event)"></app-item-service>
					</li>
				</ul>
			</div>
		</div>
  </div>
</div>

<ng-template #emptyBody>
	<div id="empty_avto" *ngIf="!isSync">
		<h2>Начало работы!</h2>
		<div>
			<p>Для продолжения необходимо добавить авто!</p>
		</div>
		<div>
			<button mat-raised-button color="primary" (click)="clickShowFormCreateAvto($event)"><i class="icon">&#xe145;</i> Добавить</button>
		</div>
	</div>
</ng-template>