<div id="content" *ngIf="selectedAvto && !isSync; else emptyBody">
	<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
	<div id="selected_avto" *ngIf="screenIsSmall">
		<app-selected-avto [model]="selectedAvto"></app-selected-avto>
	</div>
	<div id="services" *ngIf="selectedGroup">
		<div id="selected_group">
			<h2 class="mat-h2">{{selectedGroup.name}}</h2>
			<div>
				<button mat-icon-button id="add_service" (click)="clickShowFormCreateService()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</div>
		<ul id="services_list" *ngIf="serviceList.length > 0; else emptyReminders">
			<li id="left-distance" *ngIf="lastService && lastService.next_distance" [ngClass]="{'warn1' : leftDistanceColorState===1, 'warn2' : leftDistanceColorState===2, 'err' : leftDistanceColorState===3}">
				<mat-icon>notifications</mat-icon>
				<span>До следующей замены осталось</span>
				<span><strong>{{getLeftDistance | number}}</strong> км</span>
				<span id="next_odo_title">Пробег составит</span>
				<span id="next_odo_value">{{lastService.next_distance | number}} км</span>
			</li>
			<li *ngFor="let s of serviceList">
				<app-item-service [model]="s" (eventOnDelete)="onServiceDelete($event)"></app-item-service>
			</li>
		</ul>
	</div>
</div>

<ng-template #emptyReminders>
	<div id="empty-reminders" *ngIf="!isLoading">
		<div><p>Записей ещё нет.</p></div>
		<button mat-raised-button color="primary" (click)="clickShowFormCreateService()">Добавить новую запись</button>
	</div>
</ng-template>
