<a class="avto_item" href="#" (click)="clickSelectAvto()">
	<span class="image_small" [class.no_photo]="!model.avatar">
		<img decoding="async" *ngIf="model.avatar; else noPhotoSmall" src="/api/images/small/{{model.avto_id}}.jpg?t={{model.avatar_time_cache}}" />
		<ng-template #noPhotoSmall>
			<img decoding="async" src="/assets/images/no_photo_small.png" alt="Нет фото" />
		</ng-template>
	</span>
	<span>{{ model.name }}</span>
</a>
<a mat-icon-button [matMenuTriggerFor]="menu" class="menu"></a>
<mat-menu #menu="matMenu">
	<a mat-menu-item class="update" (click)="ShowFormUpdateAvto()">
		<span>Изменить</span>
	</a>
	<a mat-menu-item class="delete" (click)="ClickDelete()">
		<span>Удалить</span>
	</a>
</mat-menu>