:host {
    display:grid;
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    font-size:14px;
    grid-template-rows: 1fr 60px;
}

#login {
    width:440px;
    margin:60px auto 0px auto;
}

#title {
    text-align: center;
}

.mat-card-header {
    margin-bottom: 20px;
}

#incorrect {
    color: #d34a12;
    position: relative;
}
#incorrect .mat-icon {
    position:absolute;
    top: 6px;
    left:0px;
}
.error__message {
    display: inline-block;
    padding:10px 0px 0px 30px;
}

.mat-card-actions {
    text-align: center;
}

#oauth {
    padding:20px;
    box-sizing: border-box;
    margin-bottom: 20px;

    #oauth_links {
        display: flex;
        justify-content: space-between;
    }

    .social_btn {
        display: grid;
        grid-template-columns: 40px 1fr;
        position: relative;
        min-width: 110px;
        height:40px;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.12);
        border-radius: 4px;
        text-align: center;

        &:hover {
            box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
        }

        > .icon, > .title {
            display: inline-block;
            margin: auto;
        }

        > .title {
            margin-left: 0px;
        }
    }

    #oauth_yandex .title {
        color: #f00;
    }
    #oauth_mailru .title {
        color: #ff9e00;
    }
    #oauth_google .title {
        color: #4285f4;
    }
}

#form-auth {
    margin-top: 60px;
}

footer {
    position: relative;
    background-color: #1f2326;
    color:#777;
    text-align: center;
}
footer .year {
    display: inline-block;
    padding-top:22px;
}

@media (max-width: 520px) {
    #login {
        width:90%;
        margin-top: 50px;
    }

    h1 {
        font-size: 1.4em;
    }

    #oauth {
        padding: 0px;
        #oauth_links {
            display: block;
             > div:not(:last-child) {
                 padding-bottom:10px;
             }
        }
    }
}