<div id="login">
	<header class="header">
		<a href="/" class="logo__transparent"></a>
		<div id="title">
			<h1 class="mat-h1">Своевременное обслуживание<br>автомобиля &mdash; легко!</h1>
		</div>
	</header>
	<mat-card>
		<mat-card-header>
			<mat-card-title><span>Войти с помощью</span></mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div id="oauth">
				<div id="oauth_links">
					<div>
						<a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=591440f4698d49158536afd3e276b829">
							<img src="/assets/images/oauth/yandex.jpg" title="Яндекс" />
						</a>
					</div>
					<div>
						<a href="https://oauth.mail.ru/login?client_id=65ff8fc8b7ea4b409f61a465790f80b1&response_type=code&scope=userinfo&state=790f80b1&redirect_uri=https://odo24.ru/book/?service=mail.ru">
							<img src="/assets/images/oauth/mailru.jpg" title="Mail.ru" />
						</a>
					</div>
				</div>
			</div>
			<mat-divider></mat-divider>
			<form (ngSubmit)="submitLogin()" [formGroup]="formAuth" id="form-auth">
				<h2 class="mat-h2">Или войдите с помощью логина и пароля</h2>
				<mat-form-field class="full_width">
					<input formControlName="login" matInput placeholder="Логин" type="email" name="login" required />
				</mat-form-field>
				<mat-form-field class="full_width">
					<input  formControlName="password" matInput placeholder="Пароль" type="password" name="password" required />
				</mat-form-field>
				<div *ngIf="isIncorrect" id="incorrect">
					<mat-icon>error_outline</mat-icon>
					<span class="error__message">Неправильный логин или пароль!</span>
				</div>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<button form="form-auth" [disabled]="formAuth.invalid || formAuth.disabled" mat-raised-button color="primary">Войти</button>
		</mat-card-actions>
	</mat-card>
</div>