<h2 at-dialog-title>Необходимо подтвердить ваш E&ndash;mail</h2>
<mat-dialog-content>
  <p>Чтобы продолжить пользоваться сервисной книжкой со всеми возможностями, необходимо подтвердить ваш  E&ndash;mail</p>
  <p>Для этого необходимо отправить на <strong>{{data.login}}</strong> числовой код, который нужно просто ввести в поле ниже.</p>

  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [editable]="false">
      <div class="content">
        <form>
          <ng-template matStepLabel>Отправить код</ng-template>
          <button mat-raised-button (click)="clickSendEmail()" color="primary">Выслать код</button>&nbsp;<span> на {{data.login}}</span>
        </form>
      </div>
    </mat-step>
    <mat-step [editable]="false" [stepControl]="codeform">
      <div class="content">
        <form [formGroup]="codeform">
          <ng-template matStepLabel>Подтвердить</ng-template>
          <mat-form-field>
            <input matInput placeholder="Код" formControlName="code" type="number" required>
          </mat-form-field>
          <div>
            <button mat-raised-button (click)="clickCheckCode()" color="primary">Подтвердить</button>
          </div>
        </form>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Готово!</ng-template>
      <p>E-mail успешно подтверждён!</p>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Закрыть</button>
</mat-dialog-actions>