<div id="cars">
  <div class="aside_title">
    <h1 class="mat-h1">Мои машины</h1>
    <button title="Добавить авто" color="primary" mat-mini-fab class="mat-elevation-z0" (click)="clickShowAddAvto()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container [ngSwitch]="avtoList.length">
    <div *ngSwitchCase="0">
      <div id="empty-avto">
        <div><p>Автомобилей ещё нет.</p></div>
        <button title="Добавить авто" mat-raised-button color="primary" class="mat-elevation-z0" (click)="clickShowAddAvto()">
          <mat-icon>add</mat-icon>
          <span>&nbsp;Добавить</span>
        </button>
      </div>
    </div>
    <div *ngSwitchCase="1" id="onceAvto">
      <div id="onceAvtoImage">
        <a (click)="clickShowEditAvto(selectedAvto)"><img [src]="selectedAvto.avatarPath('medium')" /></a>
      </div>
      <div id="onceAvtoName">
        <div>
          <div class="avto_name">{{selectedAvto.name}}</div>
          <div class="odo" *ngIf="selectedAvto.odo > 0">
            <span>Пробег <span class="value">{{ selectedAvto.odo|number }} км</span></span>
            <button mat-icon-button (click)="clickShowEditAvto(selectedAvto)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <ul *ngSwitchDefault>
      <li *ngFor="let avto of avtoList">
        <app-item-avto (eventDelete)="onAvtoDelete($event)" [model]="avto"></app-item-avto>
      </li>
    </ul>
  </ng-container>
</div>