#cars_container {
  padding:0px 20px;
}

#cars {
  margin-bottom:40px;
}

#onceAvtoImage {
  text-align: center;
  margin: 40px 0px;

  > a {
    cursor: pointer;
    img {
      border-radius: 10px;
      background-color: #f7f7f7;
    }
  }
}
#onceAvtoName {
  border-bottom: 1px #eee solid;
  padding-bottom: 40px;

  .avto_name {
    font-size:1.3em;
  }

  .odo {
    margin-top:10px;
    position: relative;
    .value {
      padding: 4px 8px;
      background-color: #8996a2;
      border-radius: 12px;
      color: #ffffff;

      &:hover {
        background-color: #667c90;
      }
    }

    button {
      position: absolute;
      top:-14px;
      right:0px;
      color: #cbcfd4;
      &:hover {
        color:#00acc1;
      }
    }
  }
}

.aside_list {
  li {
    a {
      display: grid;
      grid-template-columns: auto 1fr;
      gap:20px;
      img {
        border-radius: 30px;
        background-color: #f0f7f7;
      }

      .title {
        display: grid;
        gap: 4px;
        grid-template-rows: auto 1fr;

        .avto_name {
          padding-top: 10px;
          color:#35434e;
          font-size: 1.2em;
        }

        .avto_odo {
          color:#89959f;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .toolbar_title_button {
    height: 80px;
    padding: 20px;
  }
}