<header>
    <nav>
      <a routerLink="/profile/login" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        <span>Авторизация</span>
      </a>
      <a routerLink="/profile/register" routerLinkActive="active">
        <mat-icon>group_add</mat-icon>
        <span>Регистрация</span>
      </a>
      <a routerLink="/profile/register/repair" routerLinkActive="active">
        <mat-icon>https</mat-icon>
        <span>Восстановить пароль</span
      ></a>
    </nav>
  </header>
  <div id="content">
    <aside>
      <img src="/assets/icons/white/logo_240.png" />
    </aside>
    <div>
      fff
      <router-outlet></router-outlet>
    </div>
  </div>