<div class="start">
	<span class="title">Начало</span>
	<span class="value">{{ model.date_start | date:'dd MMMM yyyy' }}</span>
</div>
<div class="end">
	<span class="title">Окончание</span>
	<span class="value">{{ model.date_end | date:'dd MMMM yyyy' }}</span>
</div>
<div class="namage">
	<a mat-icon-button [matMenuTriggerFor]="menu" class="menu"></a>
	<mat-menu #menu="matMenu">
		<a mat-menu-item class="update" (click)="ShowFormUpdate()"><span>Изменить</span></a>
		<a mat-menu-item class="delete" (click)="Delete()"><span>Удалить</span> </a>
	</mat-menu>
</div>
<div class="comment">
  	<span>{{ model.comment }}</span>
</div>