<div id="content" *ngIf="avtoList.length > 0 && !isSync; else emptyBody">
	<div class="column avto__list">
		<div class="column__content">
			<div class="column__title">
				<a href="#" (click)="clickShowFormCreateAvto($event)" class="column_title_icon create" title="Добавить авто"></a>
				<h2 class="mat-h2"><span>Мои авто</span></h2>
			</div>
			<div class="overflow">
				<div class="scroll">
					<div *ngIf="selectedAvto !== null" id="selected_avto">
						<app-selected-avto [model]="selectedAvto"></app-selected-avto>
					</div>
					<ul *ngIf="avtoList.length > 1">
						<li *ngFor="let a of avtoList">
							<app-item-avto [model]="a" (eventDelete)="onAvtoDelete($event)"></app-item-avto>
						</li>
					</ul>
				</div>
			</div>
		</div>
  </div>
  <div class="column reminding__list">
		<div class="column__content">
			<div class="column__title">
				<a href="#" class="column_title_icon create" (click)="clickShowFormCreateDoct($event)" title="Добавить документ"></a>
				<h2 class="mat-h2">Мои документы</h2>
			</div>
			<div class="overflow">
				<ul class="scroll">
					<li *ngFor="let rem of remindList | order:'date_end':'desc'">
						<app-item-remind [model]="rem"></app-item-remind>
					</li>
				</ul>
			</div>
		</div>
  </div>
</div>