<div id="content" *ngIf="selectedAvto && !isSync; else emptyBody">
	<div id="selected_avto" *ngIf="screenIsSmall">
		<app-selected-avto [model]="selectedAvto"></app-selected-avto>
	</div>
	<mat-progress-bar mode="indeterminate" *ngIf="isloading"></mat-progress-bar>
	<div id="reminding">
		<div id="reminding-title">
			<h2 class="mat-h2">Мои документы</h2>
			<div>
				<button mat-icon-button id="add_remind" (click)="clickShowFormCreateDoct()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</div>
		<ul id="reminding_list" *ngIf="remindList.length > 0; else emplyList">
			<li *ngFor="let rem of remindList | order:'date_end':'desc'">
				<app-item-remind [model]="rem" (delete)="onDelete($event)"></app-item-remind>
			</li>
		</ul>
	</div>
</div>

<ng-template #emplyList>
	<div id="emply_remind" *ngIf="!isloading">
		<div>
			<p>Документов ещё нет.</p>
		</div>
		<button mat-raised-button color="primary" (click)="clickShowFormCreateDoct()">Добавить новый документ</button>
	</div>
</ng-template>

<ng-template #emptyBody>
	<p>Для продолжения можно добавить ваш автомобиль</p>
</ng-template>
