:host {
    width:100%;
    height:100%;
    display: block;
}

#selected_avto {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    position: relative;
    z-index: 5;
}

#reminding {
    position: absolute;
    top: 170px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: auto;
    background-color: #fff;

    #reminding-title {
        display: grid;
        grid-template-columns: 1fr 50px;
        h2 {
            padding-left:20px;
        }

        #add_remind {
            position: relative;
            top:-6px;
        }
    }
}

#emply_remind {
    padding:20px;
}

@media only screen and (min-width: 860px) {
    #reminding {
        #reminding_list {
            top: 120px;
        }
    }
}