<div id="content">
	<div id="selected_avto" *ngIf="screenIsSmall">
		<app-selected-avto [model]="selectedAvto"></app-selected-avto>
	</div>
	<div id="reminding">
		<div id="reminding-title">
			<h2 class="mat-h2">Мои документы</h2>
			<div>
				<button mat-icon-button id="add_remind" (click)="clickShowFormCreateDoct()">
					<mat-icon>add</mat-icon>
				</button>
			</div>
		</div>
		<ul id="reminding_list" *ngIf="remindList.length > 0; else emplyList">
			<li *ngFor="let rem of remindList | order:'date_end':'desc'">
				<app-item-remind [model]="rem" (delete)="onDelete($event)"></app-item-remind>
			</li>
		</ul>
	</div>
</div>

<ng-template #emplyList>
	<div id="emply_remind">
		<p>Документов ещё нет. <a href="#" (click)="clickShowFormCreateDoct($event)">Добавить</a> новый документ.</p>
	</div>
</ng-template>