<h2 class="mat-h2">Регистрация</h2>
<div>
  <ng-content></ng-content>
</div>
<form id="register" (ngSubmit)="submitPassword()" [formGroup]="form" autocomplete="off">
  <mat-form-field class="merge_columns full_width">
    <input formControlName="password" matInput placeholder="Новый пароль" type="password" name="password" required />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error *ngIf="form.hasError('password')">Неправильный код</mat-error>
  </mat-form-field>

  <mat-form-field class="merge_columns full_width">
    <input formControlName="password2" matInput placeholder="Повторите пароль" type="password" name="password2" required />
    <mat-error *ngIf="form.hasError('password2')">Пароли не совпадают</mat-error>
  </mat-form-field>
  <button form="register" [disabled]="form.disabled" mat-raised-button color="primary">Завершить регистрацию</button>
</form>