#content {
  display:grid;
  grid-template-columns: 360px 1fr;
  grid-gap:20px;
}

.title-block {
  font-size:1em;
  font-weight: normal;
  margin-bottom:20px;
}

.title-medium {
  font-weight: inherit;
  margin:0px;
  padding:0px;
}

.content__column {
  padding:20px;
}