a.item {
    position: relative;
    padding-left:70px;
}

a.item img {
    border:1px transparent solid;
    position: absolute;
    top:1px;
    left:1px;
}

.menu {
    position: absolute;
    top:12px;
    right:10px;
    z-index:2;
}