<div>
    <div class="odo">
        <span>{{ model.odo|number }}</span>
        <span>км</span>
        <div class="prev" *ngIf="prev_odo">{{ (model.odo - prev_odo)|number }} км</div>
    </div>
    <div class="date">
        <span>{{ model.date | date:'dd MMMM yyyy' }}</span>
    </div>
    <div class="comment">{{ model.comment }}</div>
    <div>
        <a mat-icon-button [matMenuTriggerFor]="menu" class="menu"></a>
        <mat-menu #menu="matMenu">
            <a mat-menu-item class="update" (click)="ShowFormUpdate()">
                <span>Изменить</span>
            </a>
            <a mat-menu-item class="delete" (click)="DeleteService()">
                <span>Удалить</span>
            </a>
        </mat-menu>
    </div>
</div>