@media (max-width: 960px) {
    #description {
        width: 100%;
    }

    .header__title {
        width: 100%;
        left: auto;
        margin-left: auto;
    }

    .promo__row {
        display: block;
        width: auto;
        padding: 0px 20px;
    }

    .promo__article:not(:last-child) {
        margin-bottom: 60px;
    }

    footer > div {
        width:auto;
        padding-left: 20px;
    }

    #promo {
        padding: 100px 0px 100px 0px;
    }
}

@media (max-width: 800px) {
    .header__title h1 {
        font-size: 2.8em;
        line-height: 40px;
    }

    .form-block {
        box-shadow: none;
        padding: 40px 20px;
    }

    #description {
        top: 260px;
        line-height: 20px;
    }

    footer > div {
        grid-template-columns: 150px 1fr;
        padding-top: 50px;
    }

    #contacts {
        display: block;
    }
    #contacts > div {
        margin-bottom:10px;
    }
}

@media (max-width: 620px) {
    #auth {
        width: 100%;
        margin: 4px auto;
    }
    .form-block {
        background-color: transparent;
    }
    .form__input {
        background-color: inherit;
    }
    #social-auth {
        margin-top:0px;
        background-color: #fff;
        padding: 50px 20px;
    }
}

@media (max-width: 480px) {
    #promo {
        padding: 80px 0px 80px 0px;
    }
    #auth {
        margin-top: 50px;
    }

    .header__title h1 {
        font-size: 1.7em;
        line-height: 30px;
    }
    .promo__descript {
        padding-left:0px;
    }

    #description {
        line-height: 24px;
        font-size: 1.2em;
    }

    footer {
        height: 240px;
    }

    footer > div {
        padding-top: 40px;
        display: block; 
    }

    #contacts {
        margin-top: 10px;
    }
}