html,body {
  margin:0px;
  padding:0px;
  font-family:sans-serif;
  font-size:14px;
  color:#333;
  width:100%;
  height:100%;
}
*:focus {
  outline: 0;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
button:focus, input:focus, a:focus {
  text-decoration: none !important;
  outline: none !important;
}
a, a:active, a:focus { outline: none; text-decoration: none; }
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}

#header {
  display: block;
  width: 100%;
  height: 400px;
  position: relative;
  color: #fff;
  background-color:#213453;
}

#logo {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 98px;
  height: 18px;
  background: url("/assets/images/logo_transparent.png") no-repeat;
}

#goto_auth {
  font-size: 1.2em;
  position: absolute;
  top: 40px;
  right: 40px;
  color: #fff;
  padding: 6px 0px 10px 42px;
  opacity: 0.7;
}
#goto_auth:hover {
  opacity: 1;
}
#goto_auth .material-icons {
  position: absolute;
  top:0px;
  left:0px;
  font-size: 2em;
}

.header__title {
  position: absolute;
  width: 900px;
  top: 120px;
  left: 50%;
  margin-left: -450px;
  text-align: center;
}
.header__title h1, .header__title h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.header__title h1 {
  font-size: 3em;
}
.header__title h2 {
  font-size: 2.2em;
}

#auth {
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 270px;
  width: 500px;
}
.form-block {
  padding: 40px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  background-color: #fff;
  color:#332;
}

.form-block__title {
  margin:0px 0px 40px 0px;
  padding:0px 0px 0px 40px;
  font-weight: normal;
  font-size:1.8em;
  position:relative;
}
.form-block__title .material-icons {
  position: absolute;
  top:0px;
  left:0px;
  font-size:1.2em;
}
.form__row {
  display:block;
  width:100%;
  margin-bottom:20px;
}
.form__row:last-child {
  margin-bottom: 0px;
}
.form__row_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.step {
  margin:10px 0px;
  font-size:0.8em;
  float: right;
}
.step span {
  padding-left:2px;
}
.description {
  font-size: 0.9em;
  line-height: 18px;
}
.form__input {
  border:0px;
  border-bottom:1px #949494 solid;
  padding:4px 0px;
  background-color: #fff;
  width:100%;
}
.form__input__error {
  border-bottom-color: #d02727;
  color: #d02727;
}

.form__button {
  border:0px;
  padding:8px 22px;
  background-color: #05ab8c;
  color:#fff;
  text-align: center;
  border-radius: 2px;
  font-size: 1.2em;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}
.form__button:hover {
  background-color: #08b494;
}
.button-back {
  position:relative;
  color:#e6611d;
  padding:6px 10px 6px 24px;
  display:inline;
  font-size:0.9em;
  top: 8px;
}
.button-back:hover {
  color:#333;
}
.button-back i {
  position:absolute;
  top:0px;
  left:0px;
}

#promo {
  width:100%;
  min-height:200px;
  background-color: #f0f0f0;
  padding:260px 0px 60px 0px;
  display: grid;
  grid-template-rows: repeat(2, auto);
}
.promo__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width:900px;
  margin:auto;
}
.promo__article {
  display: block;
}
.promo__article__title {
  margin: 0px;
  padding: 8px 0px 0px 60px;
  font-weight: normal;
  font-size: 1.8em;
  position: relative;
}
.promo__article__title .material-icons {
  position: absolute;
  top:0px;
  left:0px;
  font-size: 1.8em;
}
.promo__descript {
  line-height: 24px;
  color:#5e656a;
}

footer {
  display: block;
  width:100%;
  height:80px;
  position: relative;
  background-color: #1f2326;
  color: #777;
}
.footer_date {
  display: inline-block;
  padding-top: 32px;
}

footer > div {
  width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  padding-top: 32px;
}

footer a {
  color: inherit;
}
footer a:hover {
  color: #aaa;
}

#contacts {
  display: grid;
  grid-template-columns: 200px 1fr;
}

#contacts > div {
  position: relative;
}

#contacts > div a {
  margin: 3px 0px 2px 30px;
  display: inline-block;
  border-bottom: 1px currentColor solid;
}
#contacts > div i {
  position: absolute;
  top:0px;
  left:0px;
}
#contacts > div i.new-window {
  left:auto;
  font-size: 16px;
}