<h2 mat-dialog-title>Добавить страховку</h2>
<mat-dialog-content>
    <form [formGroup]="form" method="PUT">
        <div>
            <mat-form-field class="full_width">
                <input formControlName="date_start" required matInput [matDatepicker]="date_start" placeholder="Дата начала" />
                <mat-datepicker-toggle matSuffix [for]="date_start"></mat-datepicker-toggle>
                <mat-datepicker startView="year" #date_start></mat-datepicker>
                <mat-error *ngIf="form.controls.date_start.invalid">Обязательно к заполнению</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full_width">
                <input formControlName="date_end" required matInput [matDatepicker]="date_end" placeholder="Дата окончания" />
                <mat-datepicker-toggle matSuffix [for]="date_end"></mat-datepicker-toggle>
                <mat-datepicker #date_end></mat-datepicker>
                <mat-error *ngIf="form.controls.date_end.invalid">Обязательно к заполнению</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full_width">
                <mat-select required formControlName="event_before" [(value)]="form.value.event_before" placeholder="Напомнить об истечении за">
                    <mat-option [value]="7">Неделю</mat-option>
                    <mat-option [value]="14">2 недели</mat-option>
                    <mat-option [value]="30">Месяц</mat-option>
                    <mat-option [value]="60">2 месяца</mat-option>
                    <mat-option [value]="90">3 месяца</mat-option>
                    <mat-option [value]="180">Полгода</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="full_width">
                <textarea formControlName="comment" #comment matInput placeholder="Примечание"></textarea>
                <mat-hint align="start"><strong>Стоимость, страховщик и т.д.</strong></mat-hint>
                <mat-hint align="end">{{comment.value.length}} / 256</mat-hint>
                <mat-error *ngIf="form.controls.comment.invalid">Не более 256 символов!</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="form.invalid || form.disabled" mat-raised-button color="primary" (click)="Submit()">Сохранить</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="null">Отмена</button>
</mat-dialog-actions>