<h1 class="mat-h1">Авторизация</h1>
<div id="forms">
	<div>
		<h3 class="mat-h3">Войти с помощью логина и пароля</h3>
		<form (ngSubmit)="submitLogin()" [formGroup]="form" id="form-auth">
			<mat-form-field class="full_width">
				<input formControlName="login" matInput placeholder="Логин" type="email" name="login" required />
			</mat-form-field>
			<mat-form-field class="full_width">
				<input  formControlName="password" matInput placeholder="Пароль" type="password" name="password" required />
			</mat-form-field>
			<div>
				<button type="submit" mat-raised-button color="primary">Войти</button>
			</div>
			<div *ngIf="loginError" id="incorrect">
				<mat-icon>error_outline</mat-icon>
				<span class="error__message">Неправильный логин или пароль!</span>
			</div>
		</form>
	</div>
	<div>
		<div id="oauth">
			<h3 class="mat-h3">Войти с помощью других аккаунтов</h3>
			<div>
				<div id="oauth_yandex">
					<a class="social_btn" href="https://oauth.yandex.ru/authorize?response_type=code&client_id=591440f4698d49158536afd3e276b829">
						<span class="social_icon"></span>
						<span class="title">Яндекс</span>
					</a>
				</div>
				<div id="oauth_google">
					<a class="social_btn" href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=https://odo24.ru/book/?service=google&response_type=code&client_id=195955516861.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile">
						<span class="social_icon"></span>
						<span class="title">Google</span>
					</a>
				</div>
				<div id="oauth_mailru">
					<a class="social_btn" href="https://oauth.mail.ru/login?client_id=65ff8fc8b7ea4b409f61a465790f80b1&response_type=code&scope=userinfo&state=790f80b1&redirect_uri=https://odo24.ru/book/?service=mail.ru">
						<span class="social_icon"></span>
						<span class="title">Mail</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div id="login">
	<header class="header">
		<a href="/" class="logo__transparent"></a>
		<div id="title">
			<h1 class="mat-h1">Своевременное обслуживание<br>автомобиля &mdash; легко!</h1>
		</div>
	</header>
	<mat-card>
		<div>
			<p><a routerLink="/register">Регистрация</a></p>
		</div>
		<mat-card-header>
			<mat-card-title><span>Войти с помощью:</span></mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div id="oauth">
				<div id="oauth_links">
					<div id="oauth_yandex">
						<a class="social_btn" id="oauth_yandex" href="https://oauth.yandex.ru/authorize?response_type=code&client_id=591440f4698d49158536afd3e276b829">
							<span class="social_icon">
								<img height="15" src="/assets/images/oauth/yandex_white.png" title="Яндекс" />
							</span>
							<span class="title">Яндекс</span>
						</a>
					</div>
					<div id="oauth_google">
						<a class="social_btn" href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=https://odo24.ru/book/?service=google&response_type=code&client_id=195955516861.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile">
							<span class="social_icon">
								<img height="15" src="/assets/images/oauth/google_white.png" title="Google" />
							</span>
							<span class="title">Google</span>
						</a>
					</div>
					<div id="oauth_mailru">
						<a class="social_btn" href="https://oauth.mail.ru/login?client_id=65ff8fc8b7ea4b409f61a465790f80b1&response_type=code&scope=userinfo&state=790f80b1&redirect_uri=https://odo24.ru/book/?service=mail.ru">
							<span class="social_icon">
								<img height="15" src="/assets/images/oauth/mailru_white.png" title="Mail.ru" />
							</span>
							<span class="title">Mail</span>
						</a>
					</div>
				</div>
			</div>
			<mat-divider></mat-divider>
			<form (ngSubmit)="submitLogin()" [formGroup]="form" id="form-auth">
				<h2 class="mat-h2">Или войдите с помощью логина и пароля</h2>
				<mat-form-field class="full_width">
					<input formControlName="login" matInput placeholder="Логин" type="email" name="login" required />
				</mat-form-field>
				<mat-form-field class="full_width">
					<input  formControlName="password" matInput placeholder="Пароль" type="password" name="password" required />
				</mat-form-field>
				<div *ngIf="isIncorrect" id="incorrect">
					<mat-icon>error_outline</mat-icon>
					<span class="error__message">Неправильный логин или пароль!</span>
				</div>
			</form>
		</mat-card-content>
		<mat-card-actions>
			<button form="form-auth" mat-raised-button color="primary">Войти</button>
		</mat-card-actions>
	</mat-card>
</div>-->