<h2 mat-dialog-title>Изменить группу</h2>
<mat-dialog-content>
    <form action="#" [formGroup]="formUpdateGroup">
        <div>
            <mat-form-field class="full_width">
                <input matInput placeholder="Название группы" maxlength="255" required autocomplete="off" formControlName="name" type="text" name="name">
                <mat-error *ngIf="formUpdateGroup.controls.name.invalid"></mat-error>
                <mat-hint align="end">{{formUpdateGroup.controls.name.value?.length || 0}}/255</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-progress-bar *ngIf="formUpdateGroup.disabled" mode="indeterminate"></mat-progress-bar>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button [disabled]="formUpdateGroup.invalid || formUpdateGroup.disabled" mat-raised-button color="primary" (click)="Submit()">Сохранить</button>
    <button mat-button mat-dialog-close [mat-dialog-close]="null">Отмена</button>
</mat-dialog-actions>