#oauth {
  position: relative;
  padding: 120px 0px;
  p {
    line-height:20px;
  }
}
#progress_bar {
  position: absolute;
  top: 50px;
  left: 170px;
  width: 400px;
}

#error {
  margin-top: 70px;
}