<div id="oauth">
  <img width="100" src="/assets/icons/oauth.svg" />
  <div id="progress_bar" *ngIf="isError">
    <mat-progress-bar *ngIf="!isError; else tplError" mode="indeterminate"></mat-progress-bar>
  </div>
</div>
<ng-template #tplError>
  <div id="error">
    <div class="mat-error">
      <p>Ошибка при входе через OAuth</p>
    </div>
    <p>Не удалось войти через сервис OAuth.</p>
    <p>Попробуйте позже или <a routerLink="/profile/login">вернитесь</a> на страницу авторизации и войтиде с помощью Email и пароля</p>
  </div>
</ng-template>