<h2 mat-dialog-title>Редактировать авто</h2>
<mat-dialog-content>
  <form id="form" [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <mat-form-field class="full_width">
        <input #formName matInput placeholder="Название" required formControlName="name" type="text" maxlength="60" />
        <mat-hint align="end">{{formName.value.length}} / 60</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full_width">
        <input matInput placeholder="Пробег" required formControlName="odo" type="number" min="0" />
        <mat-hint align="start">км</mat-hint>
      </mat-form-field>
    </div>
    <div class="update-form__select-file">
      <input class="update-form__input-file" id="input-file" (change)="selectedFileUpload($event)" accept="image/*" type="file" name="image" />
      <label for="input-file">Изменить фото</label>
      <div class="update-form__selected-file" *ngIf="uploaded_file != null">
        <div class="selected-file__column">
            <span class="selected-file__column__title">Название файла</span>
            <span>{{uploaded_file?.name}}</span>
        </div>
        <div class="selected-file__column">
          <span class="selected-file__column__title">Размер</span>
          <span>{{ formatFileSize(uploaded_file?.size) }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="data.avto_id===1">
      <button type="button" mat-raised-button (click)="clickSyncODO($event)">Sync</button>
      <div></div>
    </div>
    <div>
      <mat-progress-bar *ngIf="form.disabled" mode="indeterminate"></mat-progress-bar>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button form="form" type="submit" color="primary" [disabled]="form.invalid || form.disabled" mat-raised-button>Сохранить</button>
  <button mat-button mat-dialog-close>Отмена</button>
</mat-dialog-actions>