a.avto_item {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 40px 0px 40px 28px;
    border-bottom: 1px #e6e6e6 solid;
    color: #333;
    text-decoration: none;
    transition: 200ms;
}
a.avto_item:hover, :host.selected > a.avto_item {
    background-color: #f7f7f7;
}
:host.selected > a.avto_item {
    color: #e98e69;
    cursor: default;
}

a.avto_item .image_small {
    display:block;
    text-align:center;
    box-sizing: border-box;
}

a.avto_item .no_photo {
    border:1px #dbdbdb solid;
}

a.avto_item .image_small {
    width:60px;
    height:60px;
    margin-right:10px;
    float:left;
    margin-top:-22px;
}