:host {
    position: relative;
    display:block;
}
a.item {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 65px;
    padding: 25px 30px;
    border-top: 1px #e6e6e6 solid;
    color: #333;
    text-decoration: none;
    transition: 200ms;
}

a.item:hover {
    color:#000;
}

:host.selected > a.item {
    color:#e98e69;
    cursor:default;
}

a.item:hover,
:host.selected > a.item{
    background-color: #f7f7f7;
}