@import '~@angular/material/theming';

$primary: mat-palette($mat-blue, 500, 300, 900);
$accent: mat-palette($mat-light-green);
$warn: mat-palette($mat-deep-orange, A400);

$theme: mat-light-theme(
  $primary,
  $accent,
  $warn
);