@use '@angular/material' as mat;

$primary: mat.define-palette(mat.$blue-palette, 500, 300, 900);
$accent: mat.define-palette(mat.$light-green-palette);
$warn: mat.define-palette(mat.$deep-orange-palette, A400);

$theme: mat.define-light-theme(
  $primary,
  $accent,
  $warn
);