<div class="icon" [ngSwitch]="model.event_type">
  <mat-icon class="doc" *ngSwitchCase="'docs'">assignment_ind</mat-icon>
  <mat-icon *ngSwitchCase="'insurance'">description</mat-icon>
</div>
<div class="event_type" [ngSwitch]="model.event_type">
  <span *ngSwitchCase="'docs'" class="docs">Водительское</span>
  <span *ngSwitchCase="'insurance'" class="insurance">Страховка</span>
  <span *ngSwitchDefault>{{model.event_type}}</span>
</div>
<div class="date from">
  <span>с</span>
  <span>{{model.date_start | date:'dd MMMM yyyy'}}</span>
</div>
<div class="date to">
  <span>по</span>
  <span>{{model.date_end | date:'dd MMMM yyyy'}}</span>
</div>
<div class="comment">{{model.comment}}</div>
<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="clickEdit()">
      <mat-icon>edit</mat-icon>
      <span>Изменить</span>
    </button>
    <button mat-menu-item (click)="clickDelete()">
      <mat-icon>delete_outline</mat-icon>
      <span>Удалить</span>
    </button>
  </mat-menu>
</div>