.item {
    position: relative;
    display: grid;
    grid-template-columns: 140px repeat(2, 180px) 1fr 40px;
}

div.date > span {
    padding: 6px 10px;
    background-color: #f0f0f0;
    font-size: 14px;
    position: relative;
    top: 2px;
    border-radius: 4px;
}

.menu {
    position: absolute;
    top: 12px;
    right: 10px;
    visibility: hidden;
}

.item:hover .menu {
    visibility: visible;
}