a.item > span.count {
    position:absolute;
    top:24px;
    right:10px;
    display: inline-block;
    background-color: #f0f0f0;
    padding:2px 10px;
    font-size:12px;
    border-radius:10px;
    color:#1f1f1f;
}
:host:hover > a.item.user > span.count {
    right:36px;
}

#form_update_group {
    bottom:-10px;
    left:5px;
    right:5px;
}

a.menu {
    top:14px;
    right:0px;
}