<header *ngIf="profile">
  <nav class="navigation">
    <a routerLink="/service" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <mat-icon>build</mat-icon>
      <span>Обслуживание</span>
    </a>
    <a *ngIf="selectedAvto!==null" routerLink="/documents" routerLinkActive="active">
      <mat-icon>folder_open</mat-icon>
      <span>Документы</span>
    </a>
  </nav>
  <div id="profile">
    <button mat-raised-button color="primary" [matMenuTriggerFor]="profileMenu" [routerLink]="" matBadge="1" [matBadgeHidden]="!profile.is_no_confirmed" matBadgeColor="warn">
      <mat-icon>account_circle</mat-icon>
      <span class="title">{{ profile.login }}</span>
      <mat-icon class="icon_more">more_horiz</mat-icon>
    </button>
    <mat-menu #profileMenu="matMenu">
      <button class="warn" (click)="clickShowConfirmEmailDialog()" *ngIf="profile.is_no_confirmed" mat-menu-item>
        <mat-icon>email</mat-icon>
        <span>Подтвердите почту</span>
      </button>
      <button mat-menu-item (click)="clickShowChangePasswordDialog()">
        <mat-icon>lock</mat-icon>
        <span>Изменить пароль</span>
      </button>
      <button mat-menu-item (click)="clickLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Выход</span>
      </button>
    </mat-menu>
  </div>
</header>
<router-outlet></router-outlet>