<mat-spinner class="spinner" *ngIf="isSync"></mat-spinner>
<div class="parent-columns" *ngIf="!isSync" id="content">
    <div class="column" id="my_avto">
        <div class="column__content">
            <div *ngIf="selected_avto !== null" id="selected_avto">
                <app-selected-avto model="selected_avto"></app-selected-avto>
            </div>
            <ul>
                <li *ngFor="let a of avto">
                    <app-avto [model]="a" [selected]="selected_avto?.avto_id === a.avto_id" [ngClass]="{'selected' : selected_avto?.avto_id === a.avto_id}" (eventSelectAvto)="ClickSelectAvto($event)"></app-avto>
                </li>
            </ul>
        </div>
    </div>
    <div class="column" id="insurance">
        <div class="column__content">
            <div class="column__title">
                <a href="#" id="create_member" (click)="ShowFormCreate('insurance')" class="icon_create" title="Добавить страховку"></a>
                <h2><span>Страховки</span></h2>
            </div>
            <div>
                <ul *ngIf="insurance.length > 0; else EmptyTpl" class="list">
                    <li *ngFor="let item of insurance | order:'date_end':'desc'">
                        <app-item class="item" [model]="item" (eventDelete)="Remove($event)"></app-item>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column" id="drivers_license">
        <div class="column__content">
            <div class="column__title">
                <a href="#" id="create_license" (click)="ShowFormCreate('docs')" class="icon_create" title="Добавить водительское"></a>
                <h2><span>Водительское</span></h2>
            </div>
            <div>
                <ul *ngIf="drivers_license.length > 0; else EmptyTpl" class="list">
                    <li *ngFor="let item of drivers_license | order:'date_end':'desc'">
                        <app-item class="item" [model]="item" (eventDelete)="Remove($event)"></app-item>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #EmptyTpl>
    <div class="empty_records"><p>Нет записей</p></div>
</ng-template>