.update-form__input-file {
    display:none;
}
.update-form__input-file + label {
    color:#0087cc;
    cursor:pointer;
    padding: 6px 0px 0px 30px;
    position: relative;
}
.update-form__input-file + label::before {
    position: absolute;
    left: 0px;
    top: 0px;
    font-family:icon;
    content:"\e531";
    font-size:24px;
}
.update-form__input-file + label:hover {
    color:#333;
}

.update-form__select-file {
    padding:10px 0px;
}

.update-form__selected-file {
    font-size:12px;
    display:grid;
    grid-template-columns: 1fr 70px;
    margin-top: 20px;
}

.selected-file__column {
    display: grid;
    grid-template-rows: 20px 16px;
}
.selected-file__column__title {
    color:#848484;
    font-size:1.14em;
    padding:2px 0px;
}