<!doctype html>
<html lang="ru">
  <head>{{ template "head.html" . }}</head>
<body>
  <header>
    <div id="logo">
      <a href="/">
        <span>ODO24</span><span class="orange">.ru</span>
      </a>
    </div>
    <nav>
      <a href="/book/profile/login">
        <i class="material-icons">account_circle</i>
        <span>Авторизация</span>
      </a>
      <a class="selected_off" href="/screenshots.html">
        <i class="material-icons">image</i>
        <span>Скриншоты</span>
      </a>
      <a href="/about.html" class="selected">
        <i class="material-icons">info</i>
        <span>О проекте</span>
      </a>
    </nav>
  </header>
  <article>
    <h1>С чего началась электронная сервисная книжка</h1>
    <p>Проект электронной сервисной книжки появился, можно сказать, спонтанно, когда однажды пришло понимание, что бумажная заканчивается, да и была уже в несколько потрёпанном виде.</p>
    <p>
      В связи с этим было решено сохранить всю историю автомобиля в электронном виде.<br>
      Для этой цели был куплен бывший в употреблении мини-компьютер NetTop и установлен в домашних условиях.<br>
      На него было установлено всё необходимое программное обеспечение и перенесены все записи с бумажной книжки в базу данных.
    </p>
    <p>
      Позже был написан простой интерфейс для добавления новых записей. Этого было достаточно для личного пользования и в таком виде всё просуществовало несколько лет.
    </p>
    <p>
      Но однажды пришло осмысление, что вдруг этот сервис заинтересует кого-то ещё? И тогда началась разработка уже первой публичной версии электронной сервисной книжки с регистрацией и авторизацией.
    </p>
    <p>
      За время разработки было несколько кардинальных изменений концепции, проект несколько раз переписывался и на сегодняшний день актуальна текущая версия сервиса.
    </p>
    <p>Уже в январе 2020 года исходники были выложены на <a href="https://github.com/mil-ast/odo24" target="_blank"><i class="material-icons">open_in_new </i> Github</a></p>
    <div id="inform">
      <p>
        Сервис полностью открытый и бесплатный. В нём может зарегистрироваться любой желающий.
      </p>
      <p>
        А перед регистрацией в сервисной книже можно ознакомиться со <a href="/screenshots.html">скриншотам</a>.
      </p>
    </div>
  </article>
  <hr>
  <article>
    <h2>Почему бесплатно?</h2>
    <p>
      Ответ очень простой. В первую очередь сервис писался для личных нужд и с самого начала не подразумевал какой-либо коммерции.<br>
      В дальнейшем и далее не будет никаких платных услуг, ограничений и даже рекламы.
    </p>
    <p>
      Если у вас остались ещё какие-то вопросы или идеи, пишите через форму <a href="https://connect.yandex.ru/forms/5c72d4e419621d1db9afacf1/" target="_blank"><i class="material-icons">open_in_new </i> обратной связи</a>.
    </p>
  </article>
  <hr>
  <article>
    <h2>Помощь в развитии проекта</h2>
    <p>
      Любой желающий может внести свой вклад в развитие <a href="https://github.com/mil-ast/odo24" target="_blank"><i class="material-icons">open_in_new </i> проекта</a>.
    </p>
    <p>
      На текущий момент стек следующий:
      <ol>
        <li><a href="https://angular.io/" target="_blank">Angular</a></li>
        <li><a href="https://golang.org/" target="_blank">Golang</a></li>
        <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
      </ol>
    </p>
    <p>
      Так же есть планы на создание приложение под Android и iOS. Поэтому если у вас имеется опыт написания мобильных приложений - добро пожаловать!
    </p>
  </article>
  {{ template "footer.html" }}
</body>
</html>