<meta charset="utf-8">
<title>{{.title}}</title>
<base href="/">
<link rel="stylesheet" href="/assets/styles/main.css"/>
{{range .css}}<link rel="stylesheet" href="{{.}}"/>{{end}}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=no">
<meta name="description" content="{{.description}}" />
<meta name="theme-color" content="#db805c" />
<link rel="shortcut icon" href="/favicon.ico">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Istok+Web" rel="stylesheet">