<h2 class="mat-h2">Восстановление пароля</h2>
<ng-container [ngSwitch]="currentStep">
  <app-enter-login *ngSwitchDefault (loginEnter)="onLoginEnter($event)">
    <div class="description">
      <p class="step">Шаг 1 / 3</p>
      <p><strong>Введите ваш адрес электронной почты.</strong><br>На него будет отправлен код подтверждения, который нужно будет указать на 2 этапе.</p>
    </div>
  </app-enter-login>

  <app-confirm-code *ngSwitchCase="step.ConfirmCode" (codeEnter)="onCodeEnter($event)" [login]="login">
    <div class="description">
      <p class="step">Шаг 2 / 3</p>
      <p>На вашу почту отправлен код подтверждения. <strong>Введите полученный код в поле ниже</strong>, чтобы перейти к созданию нового пароля.</p>
    </div>
  </app-confirm-code>

  <app-reset-password *ngSwitchCase="step.SetPassword" (passwordEnter)="onPasswordEnter($event)" [login]="login" [code]="code">
    <div class="description">
      <p class="step">Шаг 3 / 3</p>
      <p><strong>Осталось придумать новый пароль</strong>.</p>
    </div>
  </app-reset-password>
</ng-container>