:host {
    position: relative;
    display:block;
}
.item {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 65px;
    border-top: 1px #e6e6e6 solid;
    color: #333;
}
a.item {
    text-decoration: none;
    cursor: pointer;
    transition: 200ms;
    color: #3b70d0;
    padding:25px 0px 0px 30px;
}

a.item:hover {
    color:#000;
}

a.item.selected {
    color:#e98e69;
    cursor:default;
}

a.item:hover,
a.item.selected {
    background-color: #f7f7f7;
}