:host {
    display: grid;
    position: relative;
    width:100%;
    border-bottom: 1px #ececec solid;
    grid-template-columns: 1fr 50px;
    background-color: #fff;
}

a {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 20px;
    align-items: center;

    > span {
        display:flex;
        flex-direction: column;
        color:#333;

        .title {
            font-size:1.2em;
        }
    }
}

#car_menu {
    padding:8px 4px 0px 0px;
    button.menu {
        margin-right:5px;
    }
}
