<a href="#" (click)="clickEdit($event)" *ngIf="model">
  <img decoding="async" *ngIf="model.avatar; else noPhoto" src="/api/images/small/{{model.avto_id}}.jpg?t={{ model.avatar_time_cache }}" />
  <span>
    <span class="title">{{ model.name }}</span>
    <span class="odo">
      <span *ngIf="model.odo > 0">Пробег {{ model.odo|number }} км</span>
    </span>
  </span>
</a>
<div id="car_menu">
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="clickEdit($event)">
      <mat-icon>edit</mat-icon>
      <span>Редактировать</span>
    </button>
  </mat-menu>
</div>
<ng-template #noPhoto>
  <img class="avatar__selected avatar__selected__empty" decoding="async" src="/assets/images/no_photo_small.png" alt="Нет фото" />
</ng-template>