:host {
    display: grid;
    position: relative;
    width:100%;
    border-bottom: 1px #ececec solid;
    grid-template-columns: 1fr 50px;
}

a {
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-gap: 20px;
    align-items: center;

    > span {
        display:flex;
        flex-direction: column;
        color:#333;

        .title {
            font-size:1.2em;
        }
    }
}

#car_menu {
    padding:8px 4px 0px 0px;
    button.menu {
        margin-right:5px;
    }
}

/*.avatar__selected {
    position:absolute;
    left:30px;
    top:0px;
}

.avto__title, .avto__odo {
    position:absolute;
    left:30px;
    color:#5a5a5a;
}
.avto__title {
    bottom:62px;
    font-size:1.2em;
}
.avto__odo {
    bottom:32px;
    font-size:0.8em;
}

img {
    border:1px transparent solid;
}
img.avatar__selected__empty {
    border-color:#eee;
}*/