:host {
    display: block;
    position: relative;
    width:100%;
    height: 340px;
}
.avatar__selected {
    position:absolute;
    left:30px;
    top:0px;
}

.avto__title, .avto__odo {
    position:absolute;
    left:30px;
    color:#5a5a5a;
}
.avto__title {
    bottom:62px;
    font-size:1.2em;
}
.avto__odo {
    bottom:32px;
    font-size:0.8em;
}

img {
    border:1px transparent solid;
}
img.avatar__selected__empty {
    border-color:#eee;
}