<h1 mat-dialog-title>Изменить документ</h1>
<mat-dialog-content>
  <form [formGroup]="form" id="form_create" class="columns" (ngSubmit)="submit()">
    <div id="doc_type_id" class="full_rows">
      <label id="doc_type">Какой документ добавить:</label>
      <div>
        <mat-radio-group aria-labelledby="doc_type" formControlName="doc_type_id">
          <mat-radio-button [value]="2">Страховку</mat-radio-button>
          <mat-radio-button [value]="1">Водительское</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="full_rows" *ngIf="form.value.doc_type_id === 2">
      <mat-form-field class="full_width">
        <mat-label>Авто</mat-label>
        <mat-select formControlName="auto_id">
          <mat-option [value]="null">Нет</mat-option>
          <mat-option *ngFor="let car of cars$ | async" [value]="car.auto_id">{{car.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full_width">
        <mat-label>Действует с</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date_start">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full_width">
        <mat-label>Действует по</mat-label>
        <input matInput [matDatepicker]="picker_to" formControlName="date_end" required>
        <mat-datepicker-toggle matSuffix [for]="picker_to"></mat-datepicker-toggle>
        <mat-datepicker #picker_to startView="multi-year"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="comment full_rows">
      <mat-form-field class="full_width">
        <mat-label>Примечание</mat-label>
        <textarea #formComment matInput formControlName="description" maxlength="1000"></textarea>
        <mat-hint align="end">{{formComment.value.length}} / 1000</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="form.invalid || form.disabled" form="form_create" mat-raised-button color="primary">Сохранить</button>
  <button mat-raised-button mat-dialog-close>Закрыть</button>
</mat-dialog-actions>