#empty_avto {
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: 9;
}

#empty_avto .modal {
    width:300px;
}

#content {
    position:absolute;
    top:58px;
    left:0px;
    bottom:0px;
    grid-template-columns: 300px 300px 1fr;
}

#service_groups {
    width:300px;
}

#my_avto #create_avto,
#service_groups #create_group {
    padding: 40px 20px;
    position: absolute;
    left:0px;
    right:0px;
}

#my_avto #create_avto {
    padding-left:30px;
}

.empty-content {
    padding:30px;
}