<mat-spinner class="spinner" *ngIf="isSync"></mat-spinner>
<div id="content" class="parent-columns" *ngIf="avto.length > 0 && !isSync; else emptyBody">
	<div class="column" id="my_avto">
		<div class="column__content">
			<div class="column__title">
				<a href="#" id="a_create_avto" (click)="ShowFormCreateAvto()" class="icon_create" title="Добавить авто"></a>
				<h2><span>Мои авто</span></h2>
			</div>
			<div *ngIf="selected_avto !== null" id="selected_avto">
				<app-selected-avto [model]="selected_avto"></app-selected-avto>
			</div>
			<ul>
				<li *ngFor="let a of avto">
					<app-avto [model]="a" [selected]="selected_avto?.avto_id === a.avto_id" [ngClass]="{'selected' : selected_avto?.avto_id === a.avto_id}" (eventSelectAvto)="clickSelectAvto($event)" (eventDeleteAvto)="RemoveAvto($event)"></app-avto>
				</li>
			</ul>
		</div>
	</div>
	<div class="column" *ngIf="selected_avto !== null" id="service_groups">
		<div class="column__content">
			<div class="column__title">
				<a href="#" id="a_create_group" (click)="ShowFormCreateGroup()" class="icon_create" title="Добавить новую группу"></a>
				<h2><span>Группы</span></h2>
			</div>
			<ul>
				<li *ngFor="let group of groups">
					<app-group
						[model]="group"
						[ngClass]="{'selected' : selected_group?.group_id == group.group_id}"
						(selectGroupEvent)="ClickSelectGroup($event)"
						(deleteGroupEvent)="RemoveGroup($event)">
					</app-group>
				</li>
			</ul>
		</div>
	</div>
	<div class="column" *ngIf="selected_avto !== null" id="services">
		<div class="column__content">
			<div id="service_title" class="column__title">
				<a href="#" id="create_service" (click)="ShowFormCreateService()" class="icon_create" title="Добавить запись"></a>
				<h2>
					<span>{{ selected_group?.name }}</span>
				</h2>
			</div>
			<ul *ngIf="selected_group?.services.length > 0; else emptyContent">
				<li *ngFor="let service of selected_group?.services | order:'odo':'desc'; index as i;">
					<app-service *ngIf="selected_avto.avto_id === service.avto_id" [prev_odo]="selected_group?.services[i+1]?.odo" [model]="service" (eventDeleteService)="RemoveService($event)"></app-service>
				</li>
			</ul>
			<ng-template #emptyContent>
				<div class="empty-content">Нет записей</div>
			</ng-template>
		</div>
	</div>
</div>
<ng-template #emptyBody>
	<div id="empty_avto" *ngIf="!isSync">
		<h2>Начало работы!</h2>
		<div>
			<p>Для продолжения необходимо добавить авто!</p>
		</div>
		<div>
			<button mat-raised-button color="primary" (click)="ShowFormCreateAvto()"><i class="icon">&#xe145;</i> Добавить</button>
		</div>
	</div>
</ng-template>